In [10]:
%%time

import numpy as np
import pandas as pd

# Model parameters
S1_0 = 26
S2_0 = 29
sigma1 = 0.31
sigma2 = 0.21
rho = 0.3
r = 0.025
T = 0.5  # Six months
K = 50

np.random.seed(42)  # Set seed for reproducibility

# Simulation parameters
m = 150  # Time steps

res = pd.DataFrame(columns=['n', 'm', 'Option Value'])

for l in range(10):
    n = 50 * 2**l  # Number of paths
    N = 2 * n * m  # Number of samples

    

    option_values = np.zeros(n)

    # Discretize time
    delta_t = T / m

    # Monte Carlo simulation
    for k in range(n):
        S1 = S1_0
        S2 = S2_0
        max_value = 0

        z_samples = np.random.normal(0, 1, size=(2*m,))
        for j in range(m):
            z1 = z_samples[(2 * j)]
            z2 = z_samples[(2 * j + 1)]

            S1 *= np.exp((r - 0.5 * sigma1**2) * delta_t + sigma1 * np.sqrt(delta_t) * z1)
            S2 *= np.exp((r - 0.5 * sigma2**2) * delta_t + sigma2 * np.sqrt(delta_t) * (rho * z1 + np.sqrt(1 - rho**2) * z2))

            max_value = max(max_value, S1 + S2)

        option_values[k] = max(max_value - K, 0)

    # Calculate the Monte Carlo estimate of the option value
    option_value_estimate = option_values.mean()
    res.loc[l] = [n, m, option_value_estimate]

res.to_csv('hw2-q3.csv', index=False)
res

Wall time: 42.8 s

         n      m  Option Value
0     50.0  150.0     11.936512
1    100.0  150.0     11.893098
2    200.0  150.0     12.128893
3    400.0  150.0     11.883444
4    800.0  150.0     11.502191
5   1600.0  150.0     11.684094
6   3200.0  150.0     11.565590
7   6400.0  150.0     11.727144
8  12800.0  150.0     11.692325
9  25600.0  150.0     11.759395